.contact {
    padding: 80px;
    border: none;
    border-radius: 7px;
    margin-bottom: 100px;
    background-color: #1ac3a5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.connect-container > h3 {
    font-size: 1.5rem;
    color: #048072;
    margin-bottom: 20px;
}

.connect-heading {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact-image {
    width: 500px;
    height: 350px;
    border-radius: 100%;
}