.attributes {
    margin-block: 50px;
    padding-block: 50px;
}

.attributes > h2 {
    color: #05a081;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.flex-features {
    display: flex;
    justify-content: space-around;
}

.unique-features {
    margin-left: 40px;
}

.unique-features > li {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.unique-features > li::marker {
    color: #05a081;
}

@media screen and (max-width: 760px) {
    .flex-features {
        flex-direction: column;
    }
}